@font-face {
  font-family: 'corbenbold';
  src: url('../fonts/corben-bold-webfont.woff2') format('woff2'),
    url('../fonts/corben-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'corbenregular';
  src: url('../fonts/corben-regular-webfont.woff2') format('woff2'),
    url('../fonts/corben-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'josefin_sansbold';
  src: url('../fonts/josefinsans-bold-webfont.woff2') format('woff2'),
    url('../fonts/josefinsans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'josefin_sansregular';
  src: url('../fonts/josefinsans-regular-webfont.woff2') format('woff2'),
    url('../fonts/josefinsans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'josefin_sansregular';
}

.corb {
  font-family: 'corbenregular';
}

.jos {
  font-family: 'josefin_sansregular';
}
a {
  text-decoration: none;
}

label {
  display: block;
}

.bread {
  padding: 0;
  background-image: url('breader.png');
  background-attachment: fixed;
  background-position: -18vw -58vh;
  background-repeat: no-repeat;
  background-size: 125vw;
}

nav {
  height: '2vw';
  background: #ebc57c;
}

nav div {
  display: flex;
  justify-content: center;
  flex-flow: row-wrap;
}

nav a {
  display: inline-block;
  font-size: 1.25vw;
  color: black;
  margin: 1vw;
}

form div {
  margin: 1em;
  display: inline-block;
}

.deck {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 2px solid black;
  text-align: center;
}

.btn {
  background-color: #82bbb5;
  width: 6vw;
  font-size: 1vw;
  text-align: center;
  padding-top: 0.33vw;
}

.dropdown-toggle {
  margin-top: 1vw;
  width: 20vw;
  height: 2vw;
  font-size: 1.25vw;
}

.productContainer {
  display: flex;
  justify-content: center;
}

.dropdown {
  display: flex;
  flex-direction: row;
  width: 5vw;
  height: 2vw;
  justify-content: center;
  align-items: center;
}

.dropdown select {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.25vw;
  width: 5vw;
  height: 2.25vw;
}

.cart {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1.2vw;
  width: 8vw;
  height: 2.25vw;
  padding-top: 0.25vw;
  background-color: #f29f8f;
}

.checked {
  color: orange;
}

a.purchase {
  color: white;
}
