body {
  font-family: 'Josefin Sans', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.navHeader {
  background-image: url('shibori.png');
}
nav a {
  display: inline-block;
  color: white;
  margin: 1vw;
}

form div {
  margin: 1em;
  display: inline-block;
}
